@use "mixins";

// Cards

.card {
	
	&.component-card-contact-light-gray {
		background-color: var(--bs-gray-200);
		.px-3.py-2 {
			border-bottom: 1px solid var(--bs-gray-500);
		}
		.list-group {
			.list-group-item {
				background-color: var(--bs-gray-200);	
			}	
		}
	}
	
	&.component-card-contact-medium-gray {
		overflow: hidden;
		background-color: var(--bs-gray-300);
		.px-3.py-2 {
			border-bottom: 1px solid var(--bs-gray-500);
			background-color: var(--bs-primary);
			color: var(--bs-white);
			
			h2 {
				color: var(--bs-white);
			}
		}
		&.component-card-contact-horizontal {
			.px-3.py-2 {
				h2 {
					@media (min-width: 768px) {
						color: var(--bs-black);	
					}	
				}
			}	
		}
		.list-group {
			.list-group-item {
				background-color: var(--bs-gray-300);	
			}	
		}	
	}
	
	&.component-card-contact-horizontal {
		@media (min-width: 768px) {
			padding: 1rem 1.25rem;
			display: flex;
			justify-content: start;
			align-items: center;
			flex-direction: row;
			gap: 2rem;
			
			img {
				width: 9.375rem;
				max-width: 20%;
				height: auto;
				border-radius: var(--bs-border-radius-sm);	
			}
			.px-3.py-2 {
				padding: 0 !important;	
			}
			&.component-card-contact-medium-gray {
				.px-3.py-2 {
					background-color: var(--bs-gray-300);
					color: var(--bs-dark);
					border-bottom-width: 0;
				}
			}
			&.component-card-contact-light-gray {
				.px-3.py-2 { 
					border-bottom-width: 0;	
				}	
			}
			
			.list-group {
				margin-left: auto;
				margin-right: 0;
				display: flex;
				align-items: center;
				justify-content: end;
				flex-wrap: wrap;
				flex-direction: row;
				gap: 2rem;
				border-top-width: 0;
				
				.list-group-item {
					padding: 0;
					border-width: 0;		
				}
			}	
		}
	}
	
	.list-group {
		.list-group-item {
			font-size: clamp(.85rem, 1.2vw + 0.5rem, 1rem);
		}	
	}

	a {
		
		&:not(.btn):not(.arrow-link) {
			text-decoration: none;
			
			span.fa-arrow-right-long {
				transition: all .2s ease;
				transform: rotate(-45deg);	
				display: inline-block;
			}
			
			&:hover {
				text-decoration: underline;
				
				&.d-flex {
					text-decoration: none;
					
					span {
						&:not(.fa-sharp) {
							text-decoration: underline;	
						}	
					}	
				}
				
				span.fa-arrow-right-long {
					transform: rotate(0deg);	
				}
					
			}	
		}	
		
		&[data-bs-toggle="collapse"] {
			span {
				&.fa-sharp {
					transition: all .2s ease-in-out;	
				}	
			}
			&:not(.collapsed) {
				span {
					&.fa-sharp {
						transform: rotate(45deg);	
						transform-origin: center;
					}	
				}	
			}	
		}
	}
	
	&.card-lpp {
		img {
			width: 3.5rem;	
		}	
		text-decoration: none;
		transition: all .2s ease-in-out;
		border: 1px solid transparent;
		
		&:hover {
			border-color: var(--bs-primary);	
		}
	}
	
	// Card Component
	&.component-card {
		border-width: 0;
		
		.card-header {
			background: transparent;
			border-bottom-width: 0;
			padding: 1.75rem 1.75rem 0 1.75rem;
			
			&:first-child {
				border-radius: 0;	
			}
		}
		
		.card-body {
			padding: 1rem 1.75rem 1.75rem 1.75rem;	
		}
		
		&.card-style-red {
			background-color: var(--bs-primary);
			color: var(--bs-white);
			
			h2 {
				color: var(--bs-white);	
			}
			
			a {
				.arrow-link {
					color: var(--bs-white);	
				}	
			}
		}
		
		&.card-style-white {
			background-color: var(--bs-white);
		}
		
		&.card-style-light-gray {
			background-color: var(--bs-gray-200);
		}
		
		&.card-style-gray {
			background-color: var(--bs-gray-400);
		}
		
		&.card-style-sunset {
			background: var(--gcc-sunset);
		}
		
		&.card-style-white-red-header {
			background: var(--bs-white);
			
			.card-header {
				background-color: var(--bs-primary);
				color: var(--bs-white);
				padding: 1rem 1.75rem;
				
				h2 {
					color: var(--bs-white);	
				}	
			}
			.card-body {
				padding-top: 1.75rem;	
			}
		}
		
		&.card-style-white-red-border {
			background-color: var(--bs-white);
			border: 1px solid var(--bs-primary);	
		}
		
		&.card-orientation-horizontal {
			overflow: hidden;
			
			.card-img-bg {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				aspect-ratio: 1.5 / 1;	
			}
			
			@media (min-width: 992px) {	
				display: flex;
				flex-direction: row;
				align-items: stretch;
				justify-content: start;
				gap: 1rem;
				
				.card-img-bg {
					width: calc(100% / 3);
					aspect-ratio: unset;
					height: auto;	
					flex: 1 1 0;
				}
				
				.component-card-content {
					flex: 4 1 0;
					height: 100%;	
				}	
			}
		}
	}
	
	&.component-quicklink {
		transition: all .2s ease-in-out;
		text-decoration: none;
		
		.component-quicklink-icon {
			transition: all .2s ease-in-out;	
		}	
		.component-quicklink-text {
			transition: all .2s ease-in-out;	
			text-decoration: none;
		}
		
		&:hover {
			.component-quicklink-icon {
				transform: translateY(0.25rem);	
			}
			.component-quicklink-text {
				transform: translateY(-0.25rem);	
			}	
		}
		&:not(.card-style-red) {
			.component-quicklink-icon {
				color: var(--bs-secondary);	
			}	
			.component-quicklink-text {
				color: var(--bs-primary);	
			}
			&:hover {
				.component-quicklink-icon {
					color: var(--bs-dark);	
				}	
				.component-quicklink-text {
					color: var(--bs-dark);	
				}	
			}
		}
		&.card-style-white-red-border {
			&:hover {
				border-color: var(--bs-secondary);	
			}	
		}
		&.card-style-white {
			border: 1px solid transparent;
			&:hover {
				border-color: var(--bs-yellow);	
			}	
		}
		&.card-style-light-gray {
			border: 1px solid transparent;
			&:hover {
				border-color: var(--bs-primary);	
			}	
		}
		&.card-style-gray {
			border: 1px solid transparent;
			&:hover {
				border-color: var(--bs-secondary);	
			}	
		}
		&.card-style-sunset {
			border: 1px solid transparent;
			&:hover {
				border-color: var(--bs-primary);	
			}	
		}
		&.card-style-red {
			&:hover {
				background-color: var(--bs-secondary);
			}	
		}
	}	
	
}

// Accordion
.accordion {
	&.accordion-flush {
		.accordion-item {
			border-color: var(--bs-gray-400);
			&:first-child {
				border-top: 1px solid var(--bs-gray-400);	
			}
			&:last-child {
				border-bottom: 1px solid var(--bs-gray-400);	
			}
			.accordion-header {
				.accordion-button {
					font-size: 1.25rem;
					font-weight: 500;
					
					.fa-sharp {
						color: var(--bs-primary);	
						margin-right: .5rem;
					}
					
					&::after {
						@include mixins.plus-icon;
						line-height: 1;
						display: flex;
						align-items: center;
						justify-content: center;
						border: 1px solid var(--bs-gray-600);
						background: var(--bs-white);
						border-radius: 100px;
						width: 2rem;
						height: 2rem;
						color: var(--bs-primary);
						font-size: 1rem;
					}
					
					&:hover {
						color: var(--bs-primary);
						
						&::after {
							border-color: var(--bs-primary);
							background: var(--bs-gray-200);	
						}	
					}
					&:not(.collapsed) {
						background: transparent;
						&::after {
							transform: rotate(45deg);
						}	
					}
					
						
				}	
			}	
		}
		
		&.accordion-rounded {
			.accordion-item {
				border-radius: var(--bs-border-radius-sm);
				border: 1px solid var(--bs-gray-300);
				overflow: hidden;
				margin-bottom: 1rem;
				
				&:last-child {
					margin-bottom: 0;	
				}
				
				.accordion-header {
					.accordion-button {
						background-color: var(--bs-gray-300);	
						transition: all .2s ease-in-out;
						
						&:hover {
							background-color: var(--bs-gray-200);	
						}
					}	
				}	
			}	
		}	
	}	
}

// Spacer
.component-spacer {
	display: block;
	width: 100%;
	
	&.cs1 {
		height: 1rem;	
	}
	&.cs2 {
		height: 2rem;	
	}	
	&.cs3 {
		height: 3rem;	
	}	
	&.cs4 {
		height: 4rem;	
	}
	&.cs5 {
		height: 5rem;	
	}	
	&.cs6 {
		height: 6rem;	
	}		
	&.cs7 {
		height: 7rem;	
	}	
	&.cs8 {
		height: 8rem;	
	}	
	&.cs9 {
		height: 9rem;	
	}	
	&.cs10 {
		height: 10rem;	
	}		
}

// Full Width Background
.full-width-bg {
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	position: relative;	
}

// Video Modal
.component-video-modal {
	position: relative;
	display: block;
	transition: all .2s ease-in-out;
	overflow: hidden;
	
	&:before {
		content: '';
		background-color: var(--bs-primary);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: all .2s ease-in-out;
		opacity: 0;
	}
	
	.play-button {
		display: flex;
		justify-content: center;
		align-items: center;	
		width: 5rem;
		height: 5rem;
		position: absolute;
		left: calc(50% - 2.5rem);
		top: calc(50% - 2.5rem);
		color: var(--bs-white);
		background-color: rgba(163, 32, 54, 50%);
		border: 1px solid var(--bs-white);
		border-radius: 4rem;
		transition: all .2s ease-in-out;
		z-index: 2;
	}
	.caption {
		bottom: 2rem;
		left: 0;
		right: 0;
		width: 100%;	
		z-index: 2;
	}	
	
	&:hover {
		&:before {
			opacity: 0.35;	
		}
		.play-button {
			transform: translateY(-.5rem);
			background-color: var(--bs-primary);	
		}	
	}
}

.video-modal {
	.btn-outline-light {
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 999;
		padding: 0;
		width: 3rem;
		height: 3rem;
		transition: all .2s ease-in-out;
		line-height: 1;
	}	
}

// Modal
.modal {
	button {
		&[data-bs-dismiss="modal"] {
			position: absolute;
			right: 1rem;
			top: 1rem;
			z-index: 999;
			padding: 0;
			width: 3rem;
			height: 3rem;
			transition: all .2s ease-in-out;
			line-height: 1;	
		}	
	}	
}

// List Group
.component-list-group {
	.list-group-item {
		font-size: clamp(1rem, 1.2vw + 0.5rem, 1rem);
		border-color: var(--bs-gray-400);
		background: transparent;
	}
	&.list-group-flush > .list-group-item {
		&:first-child {
			border-top: 1px solid var(--bs-gray-400);	
		}
		&:last-child {
			border-bottom:  1px solid var(--bs-gray-400);	
		}	
	}
	a {
		&.list-group-item {
			color: var(--bs-primary);
			transition: all .2s ease-in-out;	
			
			.fa-arrow-up-right {
				transition: all .2s ease-in-out;	
			}
			span {
				&.d-block {
					color: var(--bs-dark);	
					
					&.h5 {
						color: var(--bs-primary);	
					}
				}	
			}
		}	
		&:hover {
			color: var(--bs-secondary);
			background-color: var(--bs-gray-200);
			border-bottom-color: var(--bs-primary) !important;
			.fa-arrow-up-right {
				transform: rotate(45deg);	
			}	
		}
	}
}

// Block Link
a.component-block-link {
	@include mixins.icon-link;
	
	font-size: clamp(1rem, 1.2vw + 0.5rem, 1rem);
	border-radius: var(--bs-border-radius-sm);
	background-color: var(--bs-white);
	border: 1px solid transparent;
	padding: 1rem;
	text-decoration: none;
	transition: all .2s ease;	
	
	&[href*="glendale.edu"] {
		&::after  {
			transform: rotate(-45deg);
		}
		&:hover {
			&::after  {
				transform: rotate(0deg);
			}
		}
	}
	
	&:hover {
		color: var(--bs-secondary);	
		background-color: var(--gcc-light-red);
		border-color: var(--bs-secondary);
	}
	
	&.block-link-style-gray {
		background-color: var(--bs-gray-200);
		
		&:hover {
			background-color: var(--bs-gray-200);	
		}	
	}
	
	&.block-link-style-red-border {
		border-color: var(--bs-primary);
	}
	
	&.block-link-style-red {
		background: var(--bs-primary);
		color: var(--bs-white);
		
		&:hover {
			background: var(--bs-secondary);
		}	
	}
	
	
}

// Carousel Anything
.component-carousel-anything {
	padding-bottom: 3rem;
	
	.swiper-slide-content {
		max-width: 100%;	
	}
	
	&.swiper {
		.swiper-scrollbar {
			background-color: var(--gcc-medium-red);
			height: 0.5rem;	
			bottom: 0.75rem;
			width: calc(100% - 6rem);
			
			.swiper-scrollbar-drag {
				background-color: var(--bs-primary);	
			}
		}
		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			bottom: 0;
			top: auto;
			font-size: 1rem;
			height: 2rem;
			width: 2rem;
			border-radius: 2rem;
			border: 2px solid var(--bs-primary);
			background-color: var(--bs-white);
			transition: all .2s ease-in-out;
			
			&:after {
				content: '\f061';
				font-family: "Font Awesome 6 Sharp";
				font-weight: 400;
				transition: all .2s ease;
				color: var(--bs-primary);
				font-size: 1rem;
			}
			&:hover {
				background-color: var(--gcc-medium-red);
				border-color: var(--bs-secondary);	
			}	
		}
		.swiper-button-next {
			right: 0;	
		}	
		.swiper-button-prev {
			right: 2.5rem;
			left: auto;
			
			&:after {
				transform: rotate(180deg);	
			}	
		}
	}	
}

// Academic Programs
.card {
	&.component-card {
		&.component-card-program {
			text-decoration: none;
			transition: all .2s ease-in-out;
			border: 1px solid transparent;
			position: relative;
			
			.rounded-pill {
				padding: 0.25rem 0.5rem;
				font-size: 0.85rem;	
			}
			
			.card-body {
				padding-right: 3rem;
			}	
			
			&:after {
				font-family: "Font Awesome 6 Sharp";
				font-weight: 400;
				content: '\f061';
				transition: all .2s ease-in-out;
				color: var(--bs-primary);
				position: absolute;
				right: 1rem;
				top: 1rem;
				transform: rotate(-45deg);
			}	
			
			&:hover {
				border-color: var(--bs-primary);
				
				&:after {
					transform: rotate(0deg);	
				}
			}
		}
	}
}

// Academic Awards
.card {
	&.component-card {
		&.component-card-award {
			text-decoration: none;
			transition: all .2s ease-in-out;
			border: 1px solid transparent;
			position: relative;
			
			.rounded-pill {
				padding: 0.25rem 0.5rem;
				font-size: 0.85rem;	
			}
			
			.card-body {
				padding-right: 3rem;
			}	
		}
	}
}

// Tabs Library
.library-onesearch {
	.tab-content {
		border-radius: var(--bs-border-radius-sm);
		border-top-left-radius: 0;	
	}	
	
	.nav {
		&.nav-tabs {
			.nav-item {
				.nav-link {
					color: var(--bs-white);
					text-decoration: underline;
					
					&:hover {
						color: var(--gcc-light-red);	
						border-color: transparent;
						background: rgba(0, 0, 0, .25);
						text-decoration: none;
					}
					
					&.active {
						background: var(--bs-secondary);
						border-color: var(--bs-secondary);
						color: var(--bs-white);	
						text-decoration: none;
					}	
				}	
			}	
		}	
	}
}

// Hours Library
.library-hours {
	table {
		border-radius: var(--bs-border-radius-sm);
		overflow: hidden;
		
		tr {
			th {
				background-color: var(--bs-gray-400);	
				border: 2px solid var(--bs-white);
				border-bottom-width: 0;
				font-size: .85rem;
				font-weight: normal;
				text-align: center;
				
				.s-lc-whw-head-date {
					font-size: 1rem;
					font-weight: bold;	
				}
				
				&.s-lc-whw-today-h {
					background-color: var(--gcc-light-yellow);	
				}
			}	
			td {
				background-color: var(--bs-gray-200);
				border: 3px solid var(--bs-white);	
				text-align: center;
				font-size: 1rem;
				vertical-align: middle;
				
				&.s-lc-whw-today {
					background-color: var(--gcc-light-yellow);	
				}
				
				a {
					text-decoration: none;
					font-weight: bold;	
				}
			}
		}	
	}	
}

// Directory
.dt-container {
	&.directory-datatable-wrapper {
		.dt-search {
			text-align: left;	
			
			input,
			select {
				padding: 1rem;	
			}
		}
		.dataTables_filters {
			input,
			select {
				padding: 1rem;	
			}
			select {
				padding-right: 2rem;	
			}
		}
		.dt-paging {
			.pagination {
				justify-content: end;	
			}	
		}	
		.dt-info {
			font-size: 0.85rem;	
		}
		.row {
			&.mt-2 {
				align-items: center;	
			}	
		}
	}	
}

table {
	&.directory-datatable {
		thead {
			border-bottom: 1px solid var(--bs-primary);	
		}
		tr {
			th {
				padding: 0.5rem 1rem;	
			}
			td {
				padding: 1.5rem 1rem;
				vertical-align: middle;	
			}	
		}	
	}	
}

// Events
.component-events {
	transition: all .2s ease-in-out;
	
	&:hover {
		background-color: var(--gcc-light-red);
		border-color: var(--bs-secondary);	
	}
}
.component-card-event-list {
	border-color: var(--bs-primary);
	overflow: hidden;
	
	.component-event-list-image {
		width: 3rem;
		height: 3rem;
		border-radius: 6rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;	
	}
	
	.list-group-item {
		border-color: var(--bs-primary);
		transition: all .2s ease-in-out;
		
		&:hover {
			background-color: var(--gcc-light-red);
			border-color: var(--bs-secondary);	
			text-decoration: none !important;
		}	
	}	
}

// Menu Links
.primary-menu-links {
	a {
		text-decoration: none;
		font-weight: 500;	
		position: relative;
		padding-right: 1rem;
		
		&:after {
			@include mixins.arrow-icon;
			flex-shrink: 0;
			transform: translateX(-1rem);
			transition: all .2s ease-in-out;
			opacity: 0;
			font-size: 80%;
		}
		
		.primary-menu-link-icon {
			background-color: var(--gcc-light-yellow);
			border-radius: 4rem;
			height: 2rem;
			width: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all .2s ease-in-out;
		}
		
		&:hover {
			&:after {
				opacity: 1;
				transform: translateX(0);	
			}
			
			.primary-menu-link-icon {
				background-color: var(--bs-yellow);	
			}
		}
		
		
	}	
}

// Slide Card
.component-slide-card {
	.card-img-top {
		max-height: 1000px;
		transition: max-height .2s ease-in-out;	
	}
	
	a {
		transition:  all .2s ease-in-out;
		
		&.slide-card-toggle {
			display: block;
			
			&:hover {
				background: var(--gcc-sunset);
				text-decoration: none !important;
			}		
		}
		
		span {
			&.fa-sharp {
				color: var(--bs-primary);
				transition: all .2s ease-in-out;	
			}	
		}
	}
	
	.component-slide-card-content {
		max-height: 0;
		transition: max-height 0.2s ease-in-out;	
		overflow: hidden;
	}	
	
	&.active {
		a {
			&.slide-card-toggle {
				span {
					&.fa-sharp {
						transform: rotate(45deg);	
					}	
				}	
			}	
		}
		.card-img-top {
			max-height: 0;	
		}
		.component-slide-card-content {
			max-height: 1000px;	
		}	
	}
}