@use "mixins";

// Global Header
.utility-nav {
	border-bottom-right-radius: var(--bs-border-radius-sm);
	border-bottom-left-radius: var(--bs-border-radius-sm);	
	
	a {
		&:not(.btn) {
			color: var(--bs-black);
			text-decoration: none;
			font-weight: 600;	
			
			span {
				&.fa-sharp {
					color: var(--bs-primary);	
					transition: all .2s ease-in-out;
				}	
			}
			
			&:hover {
				color: var(--bs-primary);
				
				span {
					&.fa-sharp {	
						color: var(--bs-secondary);
						
						&.fa-arrow-left {
							transform: translateX(-4px);	
						}
					}	
				}	
			}
		}	
	}
}	

#global-header {
	#garfield-nav-primary-desktop {
		position: unset;
		
		.navbar-nav {
			.nav-item {
				font-size: 1rem;
				
				&.dropdown-fullwidth-wrapper {
					position: unset;
				}
				
				@media (min-width: 1140px) {
					font-size: 1.25rem;	
				}
				
				a {
					&.nav-link {
						color: var(--bs-black);	
						font-weight: 500;
						transition: all .2s ease-in-out;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						padding: 0;
						height: 11rem;
						
						&.dropdown-toggle {
							display: flex;
							align-items: center;
							justify-content: start;
							gap: 0.5rem;
							
							&:after {
								@include mixins.plus-icon;
								border: none;
								font-size: 1rem;
								color: var(--bs-primary);
								transition: all .2s ease-in-out;
							}	
						}
						
						&:hover {
							color: var(--bs-primary);	
						}
					}
					
					&[aria-expanded="true"] {
						color: var(--bs-primary);
						
						&.dropdown-toggle {
							border-top-color: var(--bs-primary);
							
							&:after {
								transform: rotate(45deg);	
							}	
						}	
					}
				}
				
				.dropdown-menu {
					border-color: var(--bs-gray-300);
					box-shadow: var(--bs-box-shadow);
					padding: 2rem;	
					margin-top: -1px;
					min-width: 20rem;
					
					&:not(.dropdown-fullwidth) {
						border-top-left-radius: 0;	
					}
					
					&.dropdown-fullwidth {
						left: 0;
						right: 0;
						width: 100%;
					}
				}	
			}	
		}	
	}
}

body.garfield-page {
	#global-header {
		.btn {
			&#primary-menu-toggle { 
				.menu-bars { 
					.menu-bar {
						background-color: var(--bs-white);
					}
				}
				
				&.is-open {
					.menu-bars { 
						.menu-bar {
							background-color: var(--bs-primary);
						}
					}
				}
			}
		}
	}	
}

// Search
body.garfield-page {
	#global-search {
		&:before {
			background-image: url('/gcc/_resources/images/garfield/search-bg.jpg');	
		}	
	}	
}


// Homepage
.homepage-cta {
	&.homepage-cta-garfield {
		&:before {
			background-image: url("/gcc/_resources/images/garfield/homepage/home-cta-bg.jpg");	
		}	
	}	
}

main#main-content {
	#page-header {
		&.page-hero-garfield-home {
			border-top-width: 0;
			padding-top: 0;
		}	
	}
}

.garfield-hero-cube-1,
.garfield-hero-cube-2,
.garfield-hero-portrait {
	.swiper-slide {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: var(--bs-border-radius);		
	}
}

.garfield-hero-cube-1 {
	height: 100%;
	width: 100%;
	
	@media (min-width: 992px) {
		height: calc(50% - 0.5rem);	
	}
	
	.swiper {
		height: 100%;	
		
		.swiper-wrapper {
			height: 100%;
		}	
	}
}

.garfield-hero-cube-2 {
	height: calc(50% - 0.5rem);
	margin-top: 1rem;
	width: 100%;
	
	.swiper {
		height: 100%;	
		
		.swiper-wrapper {
			height: 100%;
		}	
	}
}

.garfield-hero-swiper {
	height: 350px;
	
	@media (min-width: 768px) {
		height: 450px;	
	}
	
	@media (min-width: 992px) {
		height: 600px;	
	}
	
	.swiper,
	.swiper-wrapper {
		height: 100%;
		
		.swiper-slide {
			height: 100%;
			padding: 3rem;
			background: var(--gcc-sunset);
			border-radius: var(--bs-border-radius);
			
			.swiper-slide-content {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				align-items: start;
			}	
		}	
	}
	
	.swiper-pagination {
		&.swiper-pagination-vertical {
			&.swiper-pagination-bullets {
				right: 1rem;
				top: 1rem;
				transform: none;
			}
		}
		&.swiper-vertical {
			>.swiper-pagination-bullets	{
				right: 1rem;
				top: 1rem;
				transform: none;
			}
		}
		.swiper-pagination-bullet {
			background-color: var(--gcc-medium-red);
			opacity: 1;
			
			&.swiper-pagination-bullet-active {
				background-color: var(--bs-primary);	
			}	
		}
	}
	.swiper-button-next {
		top: auto;
		bottom: 1rem;
		right: 1rem;
		
		&:after {
			font-family: "Font Awesome 6 Sharp";
			font-weight: 400;
			content:'\f063';
			font-size: 1.5rem;
			color: var(--bs-primary);
		}	
	}
	
	.swiper-button-prev {
		left: auto;
		top: auto;
		right: 1rem;
		bottom: 4rem;
		
		&:after {
			font-family: "Font Awesome 6 Sharp";
			font-weight: 400;
			content:'\f062';	
			font-size: 1.5rem;
			color: var(--bs-primary);
		}	
	}
}